:root {
    --cardBorderColor: rgba(33, 48, 40, 0.25);
}

.card {
    border: 1px solid var(--cardBorderColor)
}

.card-hover {
    border: 2px solid var(--cardBorderColor);
    cursor: pointer;
    opacity: 80%;
}