.stats {
    width: 50%;
    margin: 0px auto;
    border: 1px solid var(--siteBorderColor)
}

.stat-summary {
    display: flex;
    justify-content: space-around;
}

.stat-summary div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    width: 25%;
    margin-top: 20px;
    border: 1px solid var(--siteBorderColor);
}

.stat-summary h3 {
    text-align: center;
}

.stat-summary p {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.chart-title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}

.chart-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 300px;
    width: 100%;
    margin: 20px auto;
    border: 1px solid var(--siteBorderColor)
}

