:root {
    --inputBorderColor: rgba(33, 48, 40, 0.25);
    --inputPairBGColor: rgba(128, 255, 187, 0.25);
}

.input-pair {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    margin: 10px;
    height: 40px;
    background-color: var(--inputPairBGColor);
}

.input-pair input {
    height: 100%;
    border: 1px solid var(--inputBorderColor);
    padding-left: 10px;
}

.input-pair label {
    height: 100%;
    border: 1px solid var(--inputBorderColor);
    text-align: right;
    line-height: 40px;
    padding-right: 10px;
    text-transform: uppercase;
}

.input-hover {
    opacity: 80%;
    cursor: pointer;
    border: 2px solid var(--inputBorderColor);
}