.day {
    height: 100px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: var(--restDayColor);
}

.hover {
    opacity: 75%;
}

.day-body {
    align-self: center;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "run-type run-type"
        "distance minutes";
}

.run-type {
    grid-area: run-type;
    text-align: center;
    margin-bottom: 5px;
}

.distance {
    grid-area: distance;
}

.minutes {
    grid-area: minutes;
}

.easy-run {
    background-color: var(--easyRunColor)
}

.long-run {
    background-color: var(--longRunColor)
}

.tempo-run {
    background-color: var(--tempoRunColor)
}

.intervals {
    background-color: var(--intervalsColor)
}