.update-profile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 700px;
    margin: 20px auto;
}

.profile-fields-a {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.profile-fields-b {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.update-profile .button {
    margin: 25px auto;
    width: 20%;
}

.profile-fields-a label {
    width: 60px;
}



