.update-profile {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px 20px;
}

.profile-fields-a {
    display: flex;
    justify-content: space-between;
}

.profile-fields-b {
    display: flex;
    flex-direction: column;
}

.update-profile button {
    width: 25%;
    margin-top: 10px;
}

.profile-fields-a label {
    width: 60px;
}