.profile {
    margin: 0px auto;
    height: 500px;
    border: 1px solid var(--siteBorderColor);
    display: flex;
    flex-direction: column;
}

.profile-item {
    margin: 10px 0px;
    display: flex;
    justify-content: center;
}