:root {
  --siteFontColor: rgba(48, 42, 42, 0.5);
  --siteBorderColor: rgba(211, 211, 211, .75);
  --navBarBG: rgba(211, 211, 211, .5);  
  --navBarLinkHover: slategrey;
  --hoverColor: rgba(211, 231, 240, 0.5);
  --calendarHeaderColor: rgba(211, 231, 240, 0.5);
  --daysOfWeekColor: rgba(211, 211, 211, .5);
  --easyRunColor: rgba(102, 155, 204, 0.5);
  --longRunColor: rgba(126, 204, 102, 0.5);
  --intervalsColor:  rgba(214, 130, 127, 0.5);
  --tempoRunColor:  rgba(204, 177, 102, 0.5);
  --restDayColor:  var(--calendarHeaderColor);
}

* {
  margin: 0px;
  padding: 0px;
  font-family: Arial;
  font-size: 14px;
  color: var(--siteFontColor);
}