:root {
    --btnColor: rgba(126, 204, 102, 0.5);
    --btnBorderColor: rgba(48, 42, 42, 0.65);
}

.button {
    border: 1px solid var(--btnBorderColor);
    border-radius: 10px;
    text-align: center;
    width: 100px;
    height: 25px;
    line-height: 25px;
    text-transform: uppercase;
    background-color: var(--btnColor);
    cursor: pointer;
}

.btn-hover {
    opacity: 80%;
}