.button {
    border: 1px solid var(--btnBorderColor);
    border-radius: 10px;
    text-align: center;
    width: 100px;
    height: 25px;
    line-height: 25px;
    text-transform: uppercase;
    background-color: var(--btnColor);
    cursor: pointer;
}

.hover {
    opacity: 50%;
}